

.PawnChangeModal {
    padding: 30px;
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.removedPiece{
    /* transition: 200ms; */
}

.removedPiece:hover {
    border-bottom: 3px solid lightgreen;
    cursor: pointer;
}
