

.PawnChangeModal {
    padding: 30px;
    width: 500px;
    height: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.removedPiece:hover {
    border-bottom: 3px solid lightgreen;
    cursor: pointer;
}

.pieces {
    width: 50px;
    padding: 1px;
}


@media (max-width: 785px) {
    .pieces {
        width: 35px;
    }

}


@media (max-width: 585px) {
    .pieces {
        width: 25px;
    }

}
